/* src/CatalystPage.css */
.container {
    background: linear-gradient(120deg, rgba(10, 10, 10, 1) 0%, rgba(34, 34, 34, 1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
    overflow: hidden;
    min-width: 98.82vw;
  }
  
  .container::before {
    content: '';
    position: absolute;
    right: 10%;
    top: 30%;
    width: 500px;
    height: 500px;
    background: radial-gradient(circle, rgba(0, 128, 119, 0.7) 0%, rgba(0, 128, 0, 0) 70%);
    transform: translate(50%, -50%);
    z-index: 0;
    overflow: hidden;
  }
  
  header, main, footer {
    position: relative;
    z-index: 1;
  }
  
  header a:hover {
    text-decoration: underline;
  }
  
  .nav-link {
    /* text-white; */
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  .nav-link.active {
    background-color: #085bea; /* Using a darker shade to highlight the active link */
    color: white;
   
  }
  
  .navbar{
    position: sticky;
  }